@charset "UTF-8";
.top-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .top-list li {
    width: 33.3%; }
    .top-list li dl {
      width: pxTorem(88px);
      margin: pxTorem(10px) auto; }
      .top-list li dl dt {
        width: 100%;
        height: pxTorem(120px);
        overflow: hidden; }
      .top-list li dl img {
        width: 100%; }

/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .wrap header {
    width: 100%;
    height: 1.17333rem;
    background-color: #efeff0;
    border-bottom: 1px solid #777;
    position: relative; }
    .wrap header .icon-sign {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../images/icon-sign.png") no-repeat center center;
      background-size: 0.58667rem;
      display: block;
      position: absolute;
      left: 0;
      top: 0; }
    .wrap header .icon-person {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../images/icon-person.png") no-repeat center center;
      background-size: 0.58667rem;
      display: block;
      position: absolute;
      right: 0;
      top: 0; }
    .wrap header .icon-back {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../images/icon-back.png") no-repeat center center;
      background-size: 0.58667rem;
      position: absolute;
      left: 0;
      top: 0; }
    .wrap header .icon-home {
      width: 1.17333rem;
      height: 1.17333rem;
      background: url("../images/icon-home.png") no-repeat center center;
      background-size: 0.58667rem;
      position: absolute;
      right: 0;
      top: 0; }
    .wrap header .title {
      width: 1.46667rem;
      height: 1.17333rem;
      line-height: 1.17333rem;
      margin-left: 1.46667rem;
      font-size: 0.42667rem; }
    .wrap header .search-wrap {
      margin: 0.13333rem 0.53333rem 0 1.17333rem;
      height: 0.90667rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: #fff; }
      .wrap header .search-wrap .icon-search {
        width: 0.90667rem;
        height: 0.90667rem;
        background: url("../images/icon-search.png") no-repeat center center;
        background-size: 0.42667rem;
        border-right: 1px solide #efeff0; }
      .wrap header .search-wrap .ipt {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        padding: 0 0.26667rem; }
      .wrap header .search-wrap .search-btn {
        width: 1.17333rem;
        height: 0.90667rem;
        text-align: center;
        line-height: 0.90667rem;
        border-left: 1px solid #efeff0; }
    .wrap header .tab-wrap {
      width: 5.33333rem;
      height: 1.17333rem;
      line-height: 1.17333rem;
      font-size: 0.42667rem;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: relative; }
      .wrap header .tab-wrap span.active {
        color: #ff6600; }
      .wrap header .tab-wrap .line {
        width: 2.66667rem;
        height: 0.05333rem;
        position: absolute;
        left: 0;
        bottom: 0;
        -webkit-transition: -webkit-transform 0.5s;
        transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        transition: transform 0.5s, -webkit-transform 0.5s; }
        .wrap header .tab-wrap .line.move {
          -webkit-transform: translateX(2.66667rem);
                  transform: translateX(2.66667rem); }
        .wrap header .tab-wrap .line:before {
          content: '';
          width: 1.33333rem;
          height: 0.05333rem;
          display: block;
          background-color: #ff6600;
          margin: 0 auto; }
      .wrap header .tab-wrap span {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-align: center; }
  .wrap .content {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow-y: scroll; }

.block {
  width: 100%;
  border-bottom: 0.26667rem solid #ddd; }
  .block h1 {
    width: 100%;
    height: 1.17333rem;
    border-left: 0.16rem solid #ff6600;
    border-bottom: 1px solid #ddd;
    font-size: 0.48rem;
    line-height: 1.17333rem;
    padding-left: 0.26667rem; }

.none {
  display: none; }

.list-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll; }

.inner-content {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scroll: touch; }

.book-detail-con {
  width: 100%;
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .book-detail-con dt {
    width: 2.66667rem;
    height: 3.46667rem;
    margin-right: 0.4rem;
    background-color: #eeece9;
    -webkit-box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa;
            box-shadow: 0px 0.16rem 0.13333rem -0.08rem #aaa;
    border: 0.02667rem solid #f0f0f0;
    border-bottom: none; }
    .book-detail-con dt img {
      width: 100%;
      height: 100%; }
  .book-detail-con dd .title {
    margin-bottom: 13px;
    font-size: 0.42667rem;
    overflow: hidden; }
  .book-detail-con dd .author {
    color: #4b99a7;
    line-height: 1.4; }
  .book-detail-con dd .u-grade {
    margin: 3px 0 6px 0; }
    .book-detail-con dd .u-grade .grade {
      width: 2.13333rem;
      height: 0.32rem;
      margin: 0 5px 0 0;
      background-position: 0 1px; }
    .book-detail-con dd .u-grade .grade8 {
      background-position: 0 -3.41333rem; }
    .book-detail-con dd .u-grade .read {
      margin-top: 0.10667rem;
      font-size: 0.26667rem;
      color: #8d8d8d; }
  .book-detail-con dd p {
    margin-top: 0.10667rem; }
    .book-detail-con dd p .price {
      color: #727272; }
    .book-detail-con dd p .count {
      color: #6e6e6e;
      font-size: 0.26667rem; }

.btn-group {
  width: 100%;
  white-space: nowrap; }
  .btn-group .btn {
    width: 48%;
    height: 1.17333rem;
    border-radius: 0.13333rem;
    border: 1px solid gray;
    outline: none;
    margin-left: 0.10667rem;
    background: #fff;
    font-size: 0.42667rem; }
  .btn-group .orange-btn {
    background: #f35d02 !important;
    border: 1px solid #e35109 !important;
    color: #fff; }

.brief {
  font-size: 0.32rem;
  color: #555;
  line-height: 1.5;
  margin: 0.4rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding-bottom: 0.13333rem; }

.group-footer {
  text-align: center;
  font-size: 0.37333rem;
  border-top: 1px solid #f0f0f0;
  color: #8d8d8d; }
  .group-footer a {
    display: inline-block;
    padding: 0.26667rem 0.37333rem;
    color: #8d8d8d; }

.type-title {
  width: 100%;
  height: 1.17333rem;
  line-height: 1.17333rem;
  font-weight: 800;
  font-size: 0.42667rem;
  padding-left: 0.26667rem;
  color: gray;
  border-bottom: 1px solid #f0f0f0; }

.type-tags {
  padding: 0.26667rem; }
  .type-tags .tag {
    display: inline-block;
    line-height: 1.8;
    padding: 0 0.53333rem;
    color: #766d5d;
    border-radius: 0.10667rem;
    font-size: 0.32rem;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 0.1rem 0 0; }
    .type-tags .tag:nth-child(3n+1) {
      background-color: #fbebe8; }
    .type-tags .tag:nth-child(3n+2) {
      background-color: #fcedda; }
    .type-tags .tag:nth-child(3n+3) {
      background-color: #e8f9db; }

.tops {
  overflow-x: scroll; }
  .tops .top-title {
    width: 100%;
    height: 1.17333rem;
    line-height: 1.17333rem;
    font-size: 0.37333rem;
    padding-left: 0.26667rem;
    color: gray;
    border-bottom: 1px solid #f0f0f0; }
  .tops .top-list {
    margin: 0.21333rem 0; }
    .tops .top-list li {
      width: 33%;
      height: 4rem;
      display: inline-block; }
      .tops .top-list li dl {
        width: 100%;
        height: 100%;
        text-align: center; }
        .tops .top-list li dl dt {
          width: 80%;
          height: 80%;
          margin-left: 10%; }
          .tops .top-list li dl dt img {
            width: 100%;
            height: 100%; }
        .tops .top-list li dl dd {
          width: 80%;
          margin-top: 0.13333rem;
          margin-left: 10%;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical; }

.copyright {
  padding-bottom: 0.02667rem; }
  .copyright p {
    color: #8d8d8d;
    line-height: 1.6;
    font-size: 0.32rem;
    padding-left: 0.26667rem; }
    .copyright p:nth-child(1) {
      margin-bottom: 0.21333rem; }
    .copyright p:nth-child(2) {
      margin-bottom: 0.21333rem; }
